<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  To contact the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> about the sample app use the <a href="http://railstutorial.org/contact">contact page</a>.
</p>